* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}

body {
  font-family: var(--font-family);
}