* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --bg-color: #fbfbf8;
  --brand-orange: #f97015;
  
  --fs-title: 2.25rem; /* 36px */
  --fs-medium: 1rem; /* 16px */
  --fs-small: 0.875rem; /* 14px */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Ajuste conforme a altura do seu nav */
}

body {
  font-family: var(--ff-poppins);
  background-color: var(--bg-color);
}

h1, h2 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-title);
}

h2 {
  display: inline-block;       /* faz o elemento encolher ao conteúdo */
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
  text-transform: capitalize;

  /* traço diretamente como borda */
  border-bottom: 4px solid var(--brand-orange);
  padding-bottom: 0.3rem;      /* espaço entre texto e borda */
  transition: letter-spacing 0.3s ease;
  letter-spacing: 0.03em;

  &:hover {
    letter-spacing: 0.1em;
  }
}


span {
  font-weight: var(--fw-regular);
  font-size: var(--fw-medium);
  opacity: 0.6;
}

section {
  padding: 2rem 1rem;
  max-width: 1360px;
  margin: 0 auto;
}

section:nth-child(odd) {
  background-color: #f9f9f7;
}

@media (width <= 425px) {
  :root {
    --fs-title: 1.875rem; /* 30px */
  }

  .desktop-only {
    display: none;
  }
}

ul, li, a  {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: var(--ff-poppins);
}

ul li a img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.lorem {
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
}

.lorem p {
  margin-bottom: 1rem;
  line-height: 1.6;
}